/* * {
    margin: 0;
    padding: 0;
  } */
/* 重置ul的上下边距 */
body ul{
    margin-block-start:0;
    margin-block-end:0
}

/* 默认基础样式css文件 */
.page{
    padding-left: 12rem !important;
}
.sidebar{
    width: 15rem !important;
}
.theme-default-content:not(.custom){
    /* max-width: 930px !important; */
}
.theme-default-content:not(.custom), .page-meta, .page-nav {
    padding-right: 3rem !important;
}


/* 设置可折叠侧边栏二级标题颜色 */
.sidebar-group .sidebar-heading{
    opacity:1 !important;
}
.sidebar-group .sidebar-heading span{
    color:#2c3e50;
}