/* * {
    margin: 0;
    padding: 0;
  } */

/* 默认基础样式css文件 */
.page{
    padding-left: 12rem !important;
}
.sidebar{
    width: 15rem !important;
}
.theme-default-content:not(.custom){
    max-width: 930px !important;
}
.theme-default-content:not(.custom), .page-meta, .page-nav {
    padding-right: 3rem !important;
}
